.experience {
  background-color: var(--secondary-color);

  &__select {
    margin-bottom: 1.5rem;
  }

  &__selector {
    color: var(--secondary-text-color);
    display: inline-block;
    padding: 0.5rem;
    cursor: pointer;
    &--selected {
      color: var(--primary-text-color);
      border-bottom: solid 2px #57d7ff;
    }
  }

  &__description {
    display: none;
    &--selected {
      display: flex;
      flex-direction: column;
    }
  }

  &__list {
    list-style-image: url("./images/logo.svg");
    padding-left: 1rem;

    &-item {
      padding: 0.2rem;
    }
  }

  &__text {
    margin-bottom: 1rem;
  }

  &__img {
    width: 30rem;
  }
}

@media screen and (min-width: 700px) {
  .experience {
    display: flex;
    justify-content: center;

    &__content {
      width: 60rem;
    }

    &__description {
      &--selected {
        flex-direction: row;
      }

      &--selected {
        display: flex;
      }
    }

    &__img {
      padding: 3rem;
      margin-top: -4rem;
    }
  }
}
