.experience {
  padding: 1rem;

  &__select {
    border-bottom: solid 1px #e2e2e2;
    margin-bottom: 1.5rem;
  }

  &__selector {
    display: inline-block;
    padding: 1rem;
    padding-right: 2rem;
  }

  &__selector--selected {
    border-bottom: solid 2px #57d7ff;
  }
}
