@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

.theme--light {
  --primary-color: white;
  --secondary-color: #f4f4f4;
  --primary-text-color: black;
  --secondary-text-color: #828282;
}
.theme--dark {
  --primary-color: #1e1e1e;
  --secondary-color: #303030;
  --primary-text-color: white;
  --secondary-text-color: #c8c8c8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--primary-color);
  font-family: "Inter", sans-serif;
  transition: background-color 0.5s;
}

section {
  padding: 2rem;
}

h1 {
  font-size: 3rem;
  display: inline-block;
  margin-bottom: 1rem;
  background-image: linear-gradient(to right, #57d7ff, #00ffa3);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

h2 {
  font-size: 2rem;
  display: inline-block;
  margin-bottom: 1rem;
  background-image: linear-gradient(to right, #57d7ff, #00ffa3);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

h3 {
  color: var(--primary-text-color);
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
  color: var(--secondary-text-color);
  max-width: 25rem;
}

a {
  text-decoration: none;
  color: unset;
}

button {
  border: none;
  padding: 1rem 2rem;
  background-image: linear-gradient(to right, #57d7ff, #00ffa3);
  border-radius: 0.2rem;
  color: white;
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  margin-bottom: 1.5rem;
}

ul {
  list-style: none;
  color: #828282;
}

img {
  max-width: 100%;
}
