.animate {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-color: white;
  animation: fade 2s ease-in-out forwards;

  svg {
    animation: spin 2s ease-in-out;
  }
}

.sml {
  width: 2rem;
  height: 2rem;
}

.med {
  width: 4rem;
  height: 4rem;
}

.lrg {
  width: 8rem;
  width: 8rem;
}

.xlg {
  width: 16rem;
  width: 16rem;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(360deg);
  }
  30% {
    transform: rotate(360deg);
  }
  90% {
    transform: rotate(360deg);
    transform: scale(0.0001);
  }
  100% {
    transform: rotate(360deg);
    transform: scale(0.0001);
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
