.navigation {
  z-index: 1;
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 0.5rem 2rem;
  background-color: transparent;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__brand {
    height: 2rem;
  }

  &__items {
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: flex-end;
    top: 0;
    right: 0;
    height: 100vh;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: var(--primary-color);

    &--open {
      padding: 2rem;
      display: flex;
      text-align: right;
      transition: width 1s;
    }
  }

  &__item {
    font-size: 1.1rem;
    padding: 1rem;
    padding-top: 0;
    color: var(--secondary-text-color);
  }

  &__toggle {
    margin: 1rem;

    &--menu {
      width: 2rem;
    }
    &--close {
      width: 1rem;
      min-width: 1rem;

      padding-bottom: 5rem;
    }
    &--light,
    &--dark {
      width: 1.5rem;
      min-width: 1.5rem;
    }
  }
}

@media screen and (min-width: 700px) {
  .navigation {
    justify-content: center;

    &__content {
      padding: 1rem;
      max-width: 60rem;
    }

    &__items {
      display: flex;
      position: relative;
      justify-content: flex-end;
      height: unset;
      flex-direction: row;
      box-shadow: none;
      background-color: transparent;
    }

    &__toggle {
      margin: 1rem;
      padding: 0;
      &--close,
      &--menu {
        display: none;
      }
    }

    &__item {
      font-size: 1rem;
    }
  }
}
