.navigation {
  display: flex;
  padding: 1rem;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__brand {
    height: 2rem;
  }

  &__items {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    top: 0;
    right: 0;
    height: 100vh;
    width: 0;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: var(--primary-color);
    transition: width 1s;

    &--open {
      width: 10rem;
      text-align: right;
      transition: width 1s;
    }
  }

  &__item {
    font-size: 1.1rem;
    padding: 1rem;
    padding-top: 0;
    color: var(--secondary-text-color);
  }

  &__toggle {
    margin: 1rem;

    &--menu {
      width: 2rem;
    }
    &--close {
      width: 1rem;
      min-width: 1rem;

      padding-bottom: 5rem;
    }
    &--light,
    &--dark {
      width: 1.5rem;
      min-width: 1.5rem;
    }
  }
}
