.projects {
  &__content {
    display: flex;
    flex-direction: column;
  }

  &__link {
    align-self: center;
    color: var(--primary-text-color);

    &-svg {
      width: 2rem;
      margin: 1rem;
    }
  }
}

.project {
  margin-bottom: 3rem;
}

@media screen and (min-width: 700px) {
  .projects {
    display: flex;
    justify-content: center;

    &__content {
      max-width: 70rem;
    }

    &__link {
      align-self: center;
      color: var(--primary-text-color);

      &-svg {
        width: 2rem;
        margin: 1rem;
      }
    }
  }

  .project {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 8rem;

    &__img {
      margin-top: 2rem;
      display: block;
    }
  }
}
