.project {
  &__img {
    margin: 2rem;
  }
}

@media screen and (min-width: 700px) {
  .projects {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;

    &__content {
      max-width: 70rem;
      width: 70rem;
    }
  }

  .project {
    display: flex;
    &__img {
      margin: auto;
    }
  }
}
