.navigation {
  display: flex;
  justify-content: center;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--center {
      text-align: center;
    }

    &--right {
      text-align: right;
    }
  }
}
