@import url('https://fonts.googleapis.com/css2?family=Newsreader&family=Noto+Serif&family=Playfair+Display+SC&display=swap');
// Main: font-family: 'Newsreader', serif; 
// Paragraphs: font-family: 'Noto Serif', serif; 
// Other: font-family: 'Playfair Display SC', serif;


*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: 100vh;
    font-family: 'Newsreader', serif; 
}

.navbar {
    position: absolute;
    width: 100vw;
    padding: 2em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4C5035;
    color: white;
    font-family: 'Playfair Display SC', serif;
    nav {
        display: none;
    }
    img {
        width: 2.5em;
        height: 2.5em;
    }
    .nav-brand {
        font-size: 1.4em;
        color: #EADFB9;
    }
}

.scroll-prompt {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: fixed;
    bottom: 9.5em;
    left: -6em;
    transform: rotate(-90deg);
    font-family: 'Playfair Display SC', serif;
    font-size: .7em;
    img {
        width: 18em;
    }
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#4C5035 50%, #fff 50%);
    width: 100vw;
    .container {
        align-items: center;
        img {
            display: none;
        }
        .col-left {
            font-size: 3.7em;
            color: white;
        }
        .col-right {
            font-size: 3.7em;
            color: #4C5035
        }
    }
}

