@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    z-index: 1;
}

body {
    font-family: 'Poppins', sans-serif;
}

section{
    padding: 1em 1em;
}

h1 {
    font-size: 5em;
    font-weight: 400;
    line-height: 1em;
    padding: .1em 0;
    margin-left: -.08em;
}


h2 {
    font-size: 2em;
}

h3 {
    color: rgb(151, 151, 151);
}

h5 {
    font-size: 1em;
    font-weight: 400;
    color: #ff7809;
}

p { 
    color: rgb(151, 151, 151);
    font-size: .8em;
    line-height: 2em;
}

.navbar {
    width: 100vw;
    position: fixed;
    padding: 2em;
    background-color: white;
    nav {
        display: none;
    }
    img {
        height: 2em;
        width: 2em;
        position: fixed;
        right: 2em;
    }
}

.hero {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .container {
        display: flex;
    }
    img {
        display: none;
    }
    .cta {
        padding-top: 3em;
        a {
            border: solid #ff7809 2px;
            border-radius: 20px;
            padding: 10px;
            color: #ff7809;
            text-decoration: none;
        }
    }
    svg {
        position: absolute;
        bottom: 1em;
        width: 1.5em;
        height: 1.5em;
    }
}

.about {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .img-left {
        display: none;
    }
    .img-right {
        display: none;
    }
    .container {
        padding-top: 4em;
        text-align: center;
        img {
            width: 12em;
            height: 12em;
            border-radius: 200px;
            margin: 2em 2em;
        }
    }
}
