@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Poppins:wght@300;400&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
}

body {
    background-color: #272727;
    display: grid;
    grid-template-rows: 10vh 90vh 100vh 100vh;
    color: white;
    font-family: 'Poppins', sans-serif;
}

section, .navbar {
    padding: 2em 2em;
}

section {
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    ul {
        display: none;
    }
    a {
        float: right;
    }
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.hero {
    h1 {
        font-size: 2em;
        line-height: 1.1em;
    }
    h3 {
        font-size: 1.5em;
        font-weight: 200;
        padding: .8em 0;
        font-family: 'Nothing You Could Do', cursive;
        color: #FFDD2B;
    }
    p {
        font-size: .8em;
        font-weight: 300;
        line-height: 2em;
        color: rgb(192, 192, 192);
    }
    .col-right {
        display: flex;
        justify-content: space-between;
        svg {
            height: 10em;
            width: 10em;
            padding-top: 2em;
        }
        #down {
            width: 2em;
            height: 2em;
            margin-top: auto;
            margin-bottom: 2em;
            color: #FFDD2B;
        }
    }
}

.about {
    h4 {
        font-size: 1em;
        font-weight: 300;
    }
    p {
        font-size: .8em;
        font-weight: 300;
        line-height: 2em;
        color: #c0c0c0;
        padding-top: 1em;
    }
    img {
        display: none;
    }
}

.technical {
    a {
        font-family: 'Nothing You Could Do', cursive;
    }
    a:focus {
        text-decoration: underline;
        color: #FFDD2B;
    }
    p {
        font-size: .8em;
        font-weight: 300;
        line-height: 2em;
        color: #c0c0c0;
        padding-top: 1em;
    }
}
