@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
    font-size: .8em;
    line-height: 1.9em;
}

hr {
    margin: 1em 0px;
    border-top: solid rgb(221, 221, 221) 1px;
    border-left: none;
}

h1 {
    font-size: 2em;
    line-height: 1em;
    padding-bottom: .5em;
}

h2 {
    font-size: 1.8em;
    color: #353535;
    padding-bottom: .5em;
}

h4 {
    font-size: 1em;
    font-weight: 300;
    padding-bottom: 3em;
}

h5 {
    font-size: 1em;
    padding-bottom: .5em;
    color: #7000FF;
}

p {
    line-height: 1.5em;
    color: #616161;
    padding-bottom: .7em;
}

section {
    width: 100%;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    width: 100%;
    padding: 2em 2em;
    position: fixed;
    .navbar-toggle {
        float: right;
    }
    ul {
        display: none;
    }
}

.hero {
    height: 100vh;
    background-color: #7000FF;
    color: white;
    .container {
        display: flex;
        flex-direction: column;
        a {
            padding: 1em 2em;
            color: white;
            border: solid white 2px;
            border-radius: 1em;
            &:hover {
                background-color: white;
                color: #7000FF;
            }
        }
        img {
            display: block;
            margin-top: 3em;
            width: 12em;
            height: 12em;
            border: solid white .5em;
            border-radius: 0px 50% 50% 0px;
            background-color: white;
        }
    }
}

.about {
    padding: 0px;
    .container {
        z-index: -1;
        padding: 2em;
        background-color: #f0f0f0;
        a {
            width: 100%;
            text-align: center;
            padding: 1em 2em;
            margin-top: 1em;
            margin-bottom: 1em;
            color: #7000FF;
            border: solid #7000FF 2px;
            border-radius: 1em;
            &:hover {
                background-color: #7000FF;
                color: white;
            }
        }
        .col-right {
            .card {
                background-color: rgb(252, 252, 252);  
                box-shadow: 0px 0px 8px 1px #e4e4e4;
                padding: 1em;             
            }
        }
    }
}