@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 6em;
    line-height: .8em;
}

h2 {
    font-size: 3em;
    padding-bottom: .2em;
}

h3 {
    font-size: 2em;
    line-height: 1em;
    padding: .5em 0px;
}

h4 {
    color:#7000FF;
    padding-bottom: 1em;
}

h5 {
    font-size: 1em;
    line-height: 1.5em;
}

p {
    font-size: 1em;
    line-height: 1.8em;
    font-family: 'Tinos', serif;
}

section {
    display: flex;
    justify-content: center;
    padding: 2em;
}

ul {
    list-style: none;
}

.navbar {
    position: fixed;
    width: 100%;
    padding: 2em;
    nav {
        display: none;
    }
    #toggle {
        float: right;
    }
}

.hero {
    height: 100vh;
    background-color: #7000FF;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .row {
        .col-left {
            float: left;
            margin-left: -.3em;
        }
        .col-right {
            color: white;
            p {
                color: #c4c4c4;
            }
        }
    }
    .p {
        color: #d6d6d6;
    }
}

.about {
    img {
        width: 100%;
    }
    h2 {
        margin-top: -.5em;
    }
    .row {
        .col-right {
            padding-top: 2em;
            p {
                padding-bottom: .5em;
                color: rgb(145, 145, 145);
            }
        }
    }
}

.experience {
    .container {
        .facet {
            display: flex;
            padding-top: 2em;
            img {
                width: 2.5em;
                margin-right: 1em;
            }
        }
    }
}

.projects {
    background-color: #f5f5f5;
    text-align: center;
    img {
        border-radius: 1em;
        margin-top: 1em;
        background-size: cover;
        background-position: center;
        box-shadow: 2px 2px 5px 5px rgb(177, 177, 177);
    }  
    h2 {
        display: inline;
        position: relative;
    }  
    h5 {
        margin: 1em 0;
    }
    .badge {
        font-size: .8em;
        display: inline-block;
        margin: 1em .2em;
        padding: .3em .5em;
        border-radius: .5em;
        background-color: #7000FF;
        color: white;
    }

    li {
        padding: 2em 0;
    }
    li:nth-child(1) {
        img {
            background-image: url('../images/project-intern.png');
        }
    }
    li:nth-child(2) {
        img {
            background-image: url('../images/project-movein.png');
        }
    }
}

.contact {
    background-color: #7000FF;
    input,
    textarea {
        display: block;
        width: 100%;
        margin: 1em 0;
        line-height: 2em;
        border-radius: .5em;
        border: none;
    }
}

@media only screen and (min-width: 500px) {
    section {
        padding: 3em 6em;
    }
}

@media only screen and (min-width: 800px) {
    .hero {
        .row {
            display:flex;
            .col-left, .col-right{
                flex: 1;
            }
            .col-left {
                h1{
                    float: right;
                }
            }
        }
    }

    .about {
        img {
            width: 80%;
            display: block;
            margin-left: auto;
        }
        h2 {
            margin-top: -1em;
        }
        .row {
            display: flex;
            .col-left, .col-right {
                flex: 1;
            }
            .col-right {
                padding-top: unset;
                padding-left: 4em;
            }
        }
    }

    .projects {
        li {
            display: flex;
            .description {
                padding: 2em;
                text-align: left;
            }
        }
    }

  }

  @media only screen and (min-width: 900px) {
    body {
        font-size: 18px;
    }
    .container {
        width: 45em;
    }
    section {
        padding: 6em 0;
    }
  }