@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 6em;
  line-height: .8em;
}

h2 {
  font-size: 4em;
  padding-bottom: .2em;
}

h3 {
  font-size: 2em;
  line-height: 1em;
  padding: .5em 0px;
}

h4 {
  color: #7000FF;
  padding-bottom: 1em;
}

h5 {
  font-size: .9em;
  line-height: 1.5em;
}

p {
  font-size: .9em;
  line-height: 1.6em;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2em;
}

ul {
  list-style: none;
}

.navbar {
  position: fixed;
  width: 100%;
  padding: 2em;
}

.navbar nav {
  display: none;
}

.navbar #toggle {
  float: right;
}

.hero {
  height: 100vh;
  background-color: #7000FF;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .row .col-left {
  float: left;
  margin-left: -.3em;
}

.hero .row .col-right {
  color: white;
}

.hero .row .col-right p {
  color: #c4c4c4;
}

.hero .p {
  color: #d6d6d6;
}

.about img {
  width: 100%;
}

.about h2 {
  margin-top: -.5em;
}

.about .row .col-right {
  padding-top: 2em;
}

.about .row .col-right p {
  padding-bottom: .5em;
  color: #919191;
}

.experience .facet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2em;
}

.experience .facet img {
  width: 2.5em;
  margin-right: 1em;
}

.projects {
  background-color: #eeeeee;
  text-align: center;
}

.projects img {
  border-radius: 1em;
  margin-top: 1em;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 2px 2px 5px 5px #b1b1b1;
          box-shadow: 2px 2px 5px 5px #b1b1b1;
}

.projects h2 {
  display: inline;
  position: relative;
}

.projects h5 {
  margin: 1em 0;
}

.projects .badge {
  font-size: .8em;
  display: inline-block;
  margin: 1em .2em;
  padding: .3em .5em;
  border-radius: .5em;
  background-color: #7000FF;
  color: white;
}

.projects li {
  padding: 2em 0;
}

.projects li:nth-child(1) img {
  background-image: url("../images/project-intern.png");
}

.projects li:nth-child(2) img {
  background-image: url("../images/project-movein.png");
}

.contact {
  background-color: #7000FF;
}

.contact input,
.contact textarea {
  display: block;
  width: 100%;
  margin: 1em 0;
  line-height: 2em;
  border-radius: .5em;
  border: none;
}

@media only screen and (min-width: 500px) {
  section {
    padding: 3em 6em;
  }
}

@media only screen and (min-width: 800px) {
  .hero .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero .row .col-left, .hero .row .col-right {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .hero .row .col-left h1 {
    float: right;
  }
  .about img {
    width: 80%;
    display: block;
    margin-left: auto;
  }
  .about h2 {
    margin-top: -1em;
  }
  .about .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about .row .col-left, .about .row .col-right {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .about .row .col-right {
    padding-top: unset;
    padding-left: 4em;
  }
  .projects li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .projects li .description {
    padding: 2em;
    text-align: left;
  }
}

@media only screen and (min-width: 900px) {
  body {
    font-size: 18px;
  }
  .container {
    width: 45em;
  }
  section {
    padding: 6em 0;
  }
}
/*# sourceMappingURL=style.css.map */