@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 9em;
    line-height: .8em;
}

h3 {
    font-size: 2em;
    line-height: 1em;
    padding: .5em 0px;
}

p {
    font-size: 1em;
    color: rgb(214, 214, 214);
}

.navbar {
    position: fixed;
    width: 100%;
    padding: 2em;
    nav {
        display: none;
    }
    #toggle {
        float: right;
    }
}

.hero {
    background-color: #7000FF;
    padding: 2em;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .row {
        .col-right {
            color: white;
        }
    }
}