@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
.theme--light {
  --primary-color: white;
  --secondary-color: #f4f4f4;
  --primary-text-color: black;
  --secondary-text-color: #828282;
}

.theme--dark {
  --primary-color: #1e1e1e;
  --secondary-color: #303030;
  --primary-text-color: white;
  --secondary-text-color: #c8c8c8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  min-height: 100vh;
  height: 100vh;
  background-color: var(--primary-color);
  font-family: "Inter", sans-serif;
  transition: background-color 0.5s;
}

section {
  padding: 3rem 2rem;
  margin-top: 1rem;
}

h1 {
  font-size: 3rem;
  display: inline-block;
  margin-bottom: 1rem;
  background-image: linear-gradient(to right, #57d7ff, #00ffa3);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

h2 {
  font-size: 2rem;
  display: inline-block;
  margin-bottom: 1rem;
  background-image: linear-gradient(to right, #57d7ff, #00ffa3);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

h3 {
  color: var(--primary-text-color);
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
  color: var(--secondary-text-color);
  max-width: 32rem;
}

a {
  text-decoration: none;
  color: unset;
}

button {
  border: none;
  padding: 1rem 2rem;
  background-image: linear-gradient(to right, #57d7ff, #00ffa3);
  border-radius: 0.2rem;
  color: white;
  font-size: 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  margin-bottom: 1.5rem;
}

ul {
  list-style: none;
  color: #828282;
}

img {
  max-width: 100%;
}

svg {
  fill: var(--secondary-color);
  transition: fill 0.5s;
}

@media screen and (min-width: 700px) {
  section {
    padding: 6rem 2rem;
    margin-top: 1rem;
  }
}
.list {
  list-style-image: url("./images/logo.svg");
  padding-left: 2rem;
  color: var(--secondary-text-color);
}
.list__item {
  padding: 0.2rem;
}

html.sr .load-hidden {
  visibility: hidden;
}

.navigation {
  z-index: 1;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.5rem 2rem;
  background-color: var(--secondary-color);
  transition: background-color 1s;
}
.navigation__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.navigation__brand {
  height: 2rem;
}
.navigation__items {
  position: fixed;
  display: none;
  flex-direction: column;
  align-items: flex-end;
  top: 0;
  right: 0;
  height: 100vh;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-color: var(--primary-color);
  transition: background-color 1s;
}
.navigation__items--open {
  padding: 2rem;
  display: flex;
  text-align: right;
  transition: width 1s;
  transition: background-color 1s;
}
.navigation__item {
  font-size: 1.1rem;
  padding: 1rem;
  padding-top: 0;
  color: var(--secondary-text-color);
}
.navigation__toggle {
  margin: 1rem;
}
.navigation__toggle--menu {
  width: 2rem;
}
.navigation__toggle--close {
  width: 1rem;
  min-width: 1rem;
  padding-bottom: 5rem;
  color: white;
}
.navigation__toggle--light, .navigation__toggle--dark {
  width: 1.5rem;
  min-width: 1.5rem;
}

@media screen and (min-width: 700px) {
  .navigation {
    justify-content: center;
  }
  .navigation__content {
    padding: 1rem;
    max-width: 60rem;
  }
  .navigation__items {
    display: flex;
    position: relative;
    justify-content: flex-end;
    height: unset;
    flex-direction: row;
    box-shadow: none;
    background-color: transparent;
  }
  .navigation__toggle {
    margin: 1rem;
    padding: 0;
  }
  .navigation__toggle--close, .navigation__toggle--menu {
    display: none;
  }
  .navigation__item {
    padding: 1rem;
    font-size: 1rem;
  }
}
.hero {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
.hero__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  text-align: center;
  width: 60rem;
  max-width: 60rem;
}
.hero__bg {
  z-index: -1;
  position: absolute;
  width: 100%;
  animation: bg-float 4s ease-in-out infinite;
}
.hero__text {
  max-width: 25rem;
}
.hero__img {
  width: 25rem;
}

@keyframes bg-float {
  0% {
    top: 50%;
  }
  50% {
    top: 51%;
  }
  100% {
    top: 50%;
  }
}
.experience__select {
  margin-bottom: 1.5rem;
}
.experience__selector {
  color: var(--secondary-text-color);
  display: inline-block;
  padding: 0.5rem;
  cursor: pointer;
}
.experience__selector--selected {
  color: var(--primary-text-color);
  border-bottom: solid 2px #57d7ff;
}
.experience__description {
  display: none;
}
.experience__description--selected {
  display: flex;
  flex-direction: column;
}
.experience__svg {
  display: none;
}

@media screen and (min-width: 700px) {
  .experience {
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
  .experience__content {
    position: relative;
    width: 50rem;
  }
  .experience__description--selected {
    flex-direction: row;
  }
  .experience__description--selected {
    display: flex;
  }
  .experience__text {
    margin-bottom: 1rem;
    min-width: 20rem;
  }
  .experience__svg {
    z-index: -1;
    top: 0;
    right: 0;
    display: block;
    position: absolute;
    width: 25rem;
    height: 25rem;
    fill: var(--secondary-color);
  }
}
.projects__content {
  display: flex;
  flex-direction: column;
}
.projects__link {
  align-self: center;
}
.projects__link-svg {
  fill: var(--secondary-text-color);
  width: 2rem;
  margin: 1rem;
}

.project {
  margin-bottom: 3rem;
}
.project__description {
  margin-bottom: 2rem;
}

@media screen and (min-width: 700px) {
  .projects {
    display: flex;
    justify-content: center;
  }
  .projects__content {
    max-width: 70rem;
  }
  .projects__link {
    align-self: center;
  }
  .projects__link-svg {
    width: 2rem;
    margin: 1rem;
  }
  .project {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 8rem;
  }
  .project__img {
    margin-top: 2rem;
    display: block;
  }
}
.animate {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-color: white;
  animation: fade 2s ease-in-out forwards;
}
.animate svg {
  animation: spin 2s ease-in-out;
}

.sml {
  width: 2rem;
  height: 2rem;
}

.med {
  width: 4rem;
  height: 4rem;
}

.lrg {
  width: 8rem;
  width: 8rem;
}

.xlg {
  width: 16rem;
  width: 16rem;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(360deg);
  }
  30% {
    transform: rotate(360deg);
  }
  90% {
    transform: rotate(360deg);
    transform: scale(0.0001);
  }
  100% {
    transform: rotate(360deg);
    transform: scale(0.0001);
  }
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}